* {
    background-color: aquamarine;
}

.App {
    text-align: center;
    margin-top: 15%;
}

.jokeSection {
    font-family: "Arial Hebrew Scholar", serif;
}

input {
    background: #f2f2f2;
    padding: 12px;
    margin: 2px;
    border-radius: 7px;
    border-color: black;
    width: 250px;
    font-size: 15px;
    /*text-decoration-color: black;*/
}

.button {
    display: inline-block;
    padding: 15px 25px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #225fd5;
    border: none;
    border-radius: 15px;
}

.button:hover {
    background-color: #0d289b
}

.button:active {
    background-color: #225fd5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
